################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Life/bin/Debug/netcoreapp8.0
/Life/obj
/Life.Test/bin/Debug/net8.0
/Life.Test/obj/Debug/net8.0
/Life.Test/obj
